
body{
    height: 100vh;
    background: url('https://s-media-cache-ak0.pinimg.com/originals/94/d2/ad/94d2adf4718c70984cb28c78c14e5703.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}

h1{

  font-size: 40px;
  color: white;
  margin: 40px 0px 20px;
  background: rgba(76, 175, 80, .3);
}

/*green background with 30% opacity*/

#timer-div{
    background-color: #00ECB9;
    color: #fff;
    display: inline-block;
    font-size: 30px;
}

.time-unit,.time-unit > span{
    padding: 10px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
    color: white;
}
